ui/node_modules/
ui/.next/
ui/.env
ui/.env.local
ui/.env.*.local
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/package-lock.json
ui/pnpm-lock.yaml
ui/.turbo/
ui/dist/
ui/build/
target/
build/
!.mvn/wrapper/maven-wrapper.jar
.gradle/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.log
.env
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.DS_Store
Thumbs.db
